@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  background-color: black;
}

.nof-btn{
    background-image: linear-gradient(to right, rgba(157, 13, 61, 0), rgba(222, 80, 44, 1) , rgba(198, 128, 44, 1), rgba(222, 80, 44, 1),  rgba(157, 13, 61, 0));
    font-size: 1rem;
    font-weight: 500;
    cursor: 'pointer';
    border: 1px solid rgb(205, 102, 28);
}